[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
graphqlclient = "==0.2.4"
install = "*"
setuptools-scm = "*"

[dev-packages]
build = "*"
black = "*"

[requires]
python_version = "3.9"
